*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "libre franklin";
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Overpass', sans-serif;
}
.shadow{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}